<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Login - Register Form | Flask</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% include 'header.html' %}
<div class="container">
    <div class="row" style="margin-top: 40px">
        <div class="col-sm-6">
                <a class="col-sm-6"><a href="/login" class="btn form-control btn-success">Login</a></a>
                <a class="col-sm-6"><a href="/register" class="btn form-control btn-primary">Register</a></a>
        </div>
    </div>
</div>
</body>
</html>