<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% include 'header.html' %}

<div class="container">
    <h1>Your Online Games</h1>
    <ul>
        {% for game in games %}
        <li>
            Game ID: {{ game.room_id }}, FEN: {{ game.fen }}

        </li>
        {% else %}
        <li>No games found.</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
