<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

</head>
<body>
{% include 'header.html' %}
<div id="board" style="width: 400px;"></div>
<script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.11.0/chess.js"></script>
<script>
    var socket = io();
    var board = null;
    var game = new Chess('{{ fen }}');
    var room_id = '{{ room_id }}';
    var user_id = '{{ user_id }}'; // Assume Flask template renders this
    var user_color = '{{ user_color }}'

    var config = {
        draggable: true,
        position: '{{ fen }}',
        onDrop: handleMove,
        onSnapEnd: function () {
            board.position(game.fen());
        },
        onDragStart: onDragStart
    };
    board = Chessboard('board', config);
    function onDragStart(source, piece, position, orientation) {
        // Check if it's the right color's turn
        if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
            (game.turn() === 'b' && piece.search(/^w/) !== -1) ||
            game.turn() !== user_color.charAt(0)) {
            return false;  // Cancel the drag if it's not this user's turn
        }
    }
    function handleMove(source, target, piece, newPos, oldPos, orientation) {
        var move = game.move({
            from: source,
            to: target,
            promotion: 'q'
        });
        if (move === null) return 'snapback';
        socket.emit('move', {move: move, room: room_id, fen: game.fen()});
    }

    socket.on('move', function(data) {
        game.move(data.move);
        board.position(game.fen());
    });

    socket.emit('join', {room: room_id, user_id: user_id});
</script>

</body>
</html>
