<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

</head>
<body>
{% include 'header.html' %}
<div id="board" style="width: 400px;"></div>
<script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.11.0/chess.js"></script>
<script>
    var socket = io();
    var board = null;
    var game = new Chess("{{ fen }}");
    var room_id = "{{ room_id }}";

    // Configure the chessboard
    var config = {
        draggable: true,
        position: game.fen(),  // Use FEN from server
        onDrop: handleMove,
        onSnapEnd: function () {
            board.position(game.fen());
        }
    }
    board = Chessboard('board', config);

    // Handle move validation and emit move to server
     function handleMove(source, target, piece, newPos, oldPos, orientation) {
        var move = game.move({
            from: source,
            to: target,
            promotion: 'q'
        });
        if (move === null) return 'snapback';
        socket.emit('move', {move: move, room: room_id, fen: game.fen()});
    }

    // Listen for moves made by the opponent
    socket.on('move', function(data) {
        game.move(data.move);
        board.position(game.fen());
    });

    // Join the room
    socket.emit('join', room_id);

</script>
</body>
</html>
